#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        alt_r {
            bindings = <&alt_R>;
            key-positions = <31 32>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <1 2>;
            layers = <0 3 4>;
        };

        shift_6 {
            bindings = <&kp CARET>;
            key-positions = <6 7>;
            layers = <2>;
        };

        at {
            bindings = <&kp AT_SIGN>;
            key-positions = <16 17>;
            layers = <2>;
        };

        less_than {
            bindings = <&kp LESS_THAN>;
            key-positions = <17 18>;
            layers = <2>;
        };

        more_than {
            bindings = <&kp GREATER_THAN>;
            key-positions = <27 28>;
            layers = <2>;
        };

        prtsc {
            bindings = <&kp PRINTSCREEN>;
            key-positions = <31 13 12>;
        };

        home {
            bindings = <&kp HOME>;
            key-positions = <12 13>;
            layers = <1>;
        };

        end {
            bindings = <&kp END>;
            key-positions = <22 23>;
            layers = <1>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <10 11>;
            layers = <0>;
        };

        z {
            bindings = <&kp Z>;
            key-positions = <20 21>;
            layers = <4>;
        };
    };

    macros {
        alt_R: alt_R {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp R>;
            label = "ALT_R";
        };
    };

    behaviors {
        ht: ht {
            compatible = "zmk,behavior-hold-tap";
            label = "ht";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <150>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "Base";
            bindings = <
&kp Q  &kp W           &kp F        &kp P             &kp G      &kp J      &kp L         &kp U        &kp Y                &kp DOT
&kp A  &ht LEFT_ALT S  &ht LCTRL R  &ht LEFT_SHIFT T  &kp D      &kp H      &ht LSHIFT N  &ht LCTRL E  &ht RIGHT_ALT I      &kp O
&kp X  &kp Z           &kp C        &kp V             &kp B      &kp M      &kp K         &kp BSPC     &ht LEFT_GUI DELETE  &kp COMMA
                                    &mo 1             &kp SPACE  &kp ENTER  &mo 2
            >;
        };

        nav_numbers {
            bindings = <
&none  &none     &none     &none         &none      &none      &kp N9  &kp N8  &kp N7  &none
&none  &kp HOME  &kp LEFT  &kp RIGHT     &kp END    &kp N0     &kp N3  &kp N2  &kp N1  &none
&none  &none     &kp DOWN  &kp UP_ARROW  &none      &none      &kp N6  &kp N5  &kp N4  &none
                           &none         &kp SPACE  &kp RCTRL  &none
            >;
        };

        frow_symbols {
            bindings = <
&none  &kp F7  &kp F8  &kp F9        &kp F12  &kp EQUAL             &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp POUND        &tog 3
&none  &kp F1  &kp F2  &kp F3        &kp F10  &kp MINUS             &kp SEMICOLON         &kp SQT                &kp ASTERISK     &kp KP_SLASH
&none  &kp F4  &kp F5  &kp F6        &kp F11  &kp NON_US_BACKSLASH  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp EXCLAMATION  &kp QUESTION
                       &kp LEFT_ALT  &none    &kp LEFT_SHIFT        &trans
            >;
        };

        gaming {
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3    &kp N4     &kp NON_US_BACKSLASH  &none     &none         &none      &tog 4
&kp TAB    &kp Q   &kp W   &kp E     &kp R      &none                 &kp M     &kp UP_ARROW  &none      &none
&kp LSHFT  &kp A   &kp S   &kp D     &kp F      &none                 &kp LEFT  &kp DOWN      &kp RIGHT  &none
                           &kp LALT  &kp SPACE  &kp LCTRL             &none
            >;
        };

        league {
            bindings = <
&ht TAB ESCAPE  &kp N1  &kp N2  &kp N3     &kp N4     &kp NON_US_BACKSLASH  &none     &none         &none      &tog 0
&kp Q           &kp W   &kp E   &kp R      &kp T      &none                 &none     &kp UP_ARROW  &none      &none
&kp A           &kp S   &kp D   &kp F      &kp C      &none                 &kp LEFT  &kp DOWN      &kp RIGHT  &none
                                &kp RCTRL  &kp SPACE  &none                 &none
            >;
        };
    };
};
